<h2>Please enter your registration info below:</h2>

<form asp-action="Welcome" asp-controller="Home">
    <p>FirstName</p>
    <input type="text" name="FirstName"/>
    <br/>

    <p>LastName</p>
    <input type="text" name="LastName"/>
    <br/>

    <p>Email</p>
    <input type="text" name="Email"/>
    <br/>

    <p>Password</p>
    <input type="text" name="Password"/>
    <br/>

    <input type="submit"/>
</form>
